/* Custom Stylesheet */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#flightSearch {
    /*Place it in a nice place*/
    position:relative;
    width:50%;
    margin-left:25%;
    
    /*Make it purty*/
    background-color:white;
    border-radius:5px;
    padding: 5px;
    opacity: 0.9;
}

#homeSlider {
    background: url("http://placehold.it/1920x1080");
}

#flightsCard .row {
    margin-bottom: 0 !important;
}

.flight .row {
    margin-bottom:0 !important;
}

#searchParams {
    padding-top:2px;
    padding-bottom:2px;
}

#searchParams h5, #searchParams input {
    margin: 0;
}

#searchParams .input-field/*, #searchParams input[type="number"]*/ {
    /*margin:5px;*/
}