<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller" data-ng-init="searchFlights('total', 'asc')">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Vuelos - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav class="light-blue lighten-1" role="navigation" data-ng-include="'includes/nav.html'"></nav>
        </header>

        <main>

            <div class="section" style="min-height: 1300px;">
                <div class="row">
                    <div class="col s4" style="position: absolute;">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-panel white black-text" id="searchParams">
                                    <div class="row">
                                        <h5 class="center">Su Búsqueda</h5>
                                    </div>
                                    <div class="row">    
                                        <form id="flightSearchForm">
                                            <div class="input-field col s12">
                                                <input id="from" type="text" class="validate">
                                                <label for="from">Origen</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="to" type="text" class="validate">
                                                <label for="to">Destino</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="oneWayTrip" type="checkbox">
                                                <label for="oneWayTrip">Sólo Ida</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="departDate" type="date" class="datepicker">
                                                <label for="departDate">Ida</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="returnDate" type="date" class="datepicker">
                                                <label for="returnDate">Vuelta</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="numAdults" type="number" class="validate" value="1">
                                                <label for="numAdults">Adultos (12 o más años)</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="numChildren" type="number" class="validate" value="0">
                                                <label for="numChildren">Niños (2-11 años)</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="numInfants" type="number" class="validate" value="0">
                                                <label for="numInfants">Infantes (0-2 años)</label>
                                            </div>
                                            <button class="input-field col s8 offset-s2 waves-effect waves-light btn-large" type='button' id="searchButton">
                                                Buscar de Nuevo<i class="material-icons right">arrow_right</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card-panel orange black-text">
                                    <p class="center">Ordenar Por</p>
                                    <div class="row">
                                        <div class="input-field col s6" >
                                            <select data-ng-model="criteria">
                                                <option selected value="total">Precio</option>
                                                <option value="airline">Airline</option>
                                                <option value="duration">Duración</option>
                                            </select>
                                        </div>
                                        <div class="input-field col s6">
                                            <select  data-ng-model="order">
                                                <option selected value="asc">Ascendente</option>
                                                <option value="desc">Descendente</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="col s8 offset-s2 btn" data-ng-click="searchFlights(criteria, order)">Aplicar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="card-panel purple white-text">
                                    <p class="center">Vuelos por página</p>
                                    <div class="row">
                                        <div class="input-field col s6 offset-s3">
                                            <select>
                                                <option selected>25</option>
                                                <option>50</option>
                                                <option>42</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <button class="col s8 offset-s2 btn">Aplicar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s8 offset-s4">
                        <div id="selectedOutboundFlight" class="col s9">
                            <div class="card-panel grey lighten-1 white-text center" style="border-color:grey; border-style: dashed;">
                                Ida
                            </div>
                        </div>
                        <!--                        <div class="col s9">
                                                    <div id="selectedOutboundFlight" class="card-panel green" style="height: 70px; padding:2px;">
                                                        <div class="col s4">
                                                            <p><i class="material-icons">airplanemode_active</i> LAN #3258</p>
                                                        </div>
                                                        <div class="col s4">
                                                            <p>EZE (08:35)<span class="material-icons">forward</span> JFK (14:50)</p>
                                                        </div>
                                                        <div class="col s1 center">
                                                            <p style="line-height: 35px;">$617</p>
                                                        </div>
                                                        <div class="col s3 right-align">
                                                            <button class='btn disabled' style="margin-top: 15px;">Cambiar</button>
                                                        </div>
                                                    </div>
                                                </div>-->
                        <div class="col s3 center">
                            <h5 style="margin-top: 35px;">
                                <b>Total: $<span id="currentTotal">0</span></b>
                            </h5>
                        </div>
                        <div data-ng-if="!session.search.oneWayTrip" id="selectedInboundFlight" class="col s9">
                            <div class="card-panel grey lighten-1 white-text center" style="border-color:grey; border-style: dashed;">
                                Vuelta
                            </div>
                        </div>                        
                        <div class="col s3 center" id="nextStep">
                            <button class="btn waves-effect waves-light disabled">{{session.search.oneWayTrip || session.state.hasOutboundFlight ? 'Comprar' : 'Elegir Vuelta'}}<i class="material-icons right">arrow_right</i></button>
                        </div>

                        <div class="row">
                            <div class="col s12 divider"></div>
                        </div>
                        <div class="row">
                            <div class="col s12 center"><span style="font-size: large;">{{flights.total}} vuelos encontrados</span></div>
                        </div>

                        <!--VUELOS-->
                        <div class="col s12">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li class="grey" data-ng-repeat="flight in flights.flights">
                                    <div class="collapsible-header">
                                        <div class="col s4">
                                            <i class="material-icons">airplanemode_active</i>{{getFlightAirlineName(flight)}} #{{getFlightNumber(flight)}}
                                        </div>
                                        <div class="col s3">
                                            {{getOriginAirport(flight).id}} ({{getDepartureDateObj(flight) | date:'HH:mm'}})<span class="material-icons">forward</span>{{getDestinationAirport(flight).id}} ({{getArrivalDateObj(flight) | date: 'HH:mm'}})
                                        </div>
                                        <div data-ng-if="isDirectFlight(flight)" class="col s2">
                                            Directo
                                        </div>
                                        <div data-ng-if="getStopoversCount(flight) === 1" class="col s2">
                                            1 Escala
                                        </div>
                                        <div data-ng-if="getStopoversCount(flight) > 1" class="col s2">
                                            {{getStopoversCount(flight)}} Escalas
                                        </div>
                                        <div class="col s1">
                                            ${{getFlightTotal(flight) | number:0}}
                                        </div>
                                        <div class="col s2 right-align">
                                            <button class='btn' data-ng-click="selectFlight(flight)">Seleccionar</button>
                                        </div>
                                    </div>
                                    <div class="collapsible-body">
                                        <p style="height:100px; padding: 5px; padding-left: 10px;">
                                            <span class="col s4 center">
                                                Calificación: gr8 8/8 m8 <!-- 7.3/10 -->
                                                <br />
                                                (promedio tramos)
                                                <br />
                                                <a class="btn" href="reviews.html?airlineId={{getAirlineID(flight)}}&flightNum={{getFlightNumber(flight)}}">Ver Comentarios</a>
                                            </span>
                                            <span class="col s3">
                                                <span data-ng-show="!isDirectFlight(flight)" data-ng-repeat="segment in getStopovers(flight)">
                                                    {{getOriginAirport(segment).id}} ({{getDepartureDateObj(segment) | date:'HH:mm'}})
                                                    <span class="material-icons">forward</span>
                                                    {{getDestinationAirport(segment).id}} ({{getArrivalDateObj(segment) | date: 'HH:mm'}})
                                                </span>
                                                <span data-ng-if="isDirectFlight(flight)">
                                                    {{getOriginAirport(flight).id}} ({{getDepartureDateObj(flight) | date: 'HH:mm'}})
                                                    <span class="material-icons">forward</span>
                                                    {{getDestinationAirport(flight).id}} ({{getArrivalDateObj(flight) | date: 'HH:mm'}})
                                                </span>
                                            </span>
                                            <span class="col s1 center">
                                                Duración: {{getFlightDuration(flight)}}
                                            </span>
                                            <span class="col s4 center">
                                                <span data-ng-show="flight.price.adults !== null">
                                                Adultos: ${{flight.price.adults.base_fare | number:2}} x {{flight.price.adults.quantity}}
                                                <br />
                                                </span>
                                                <span data-ng-show="flight.price.children !== null">
                                                Niños: ${{flight.price.children.base_fare | number:2}} x {{flight.price.children.quantity}}
                                                <br />
                                                </span>
                                                <span data-ng-show="flight.price.infants !== null">
                                                Infantes: ${{flight.price.infants.base_fare | number:2}} x {{flight.price.infants.quantity}}
                                                <br />
                                                </span>
                                                Cargos e Impuestos: ${{(flight.price.total.charges+flight.price.total.taxes)  | number:2}}
                                                <br />
                                                <b>Total Pasajeros: ${{getFlightTotal(flight) | number:2}}</b>
                                            </span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!--PAGINATION-->
                        <div class="row">
                            <div class="col s12 center">
                                <ul class="pagination">
                                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li class="active"><a href="#!">1</a></li>
                                    <li class="waves-effect"><a href="#!">2</a></li>
                                    <li class="waves-effect"><a href="#!">3</a></li>
                                    <li class="waves-effect"><a href="#!">4</a></li>
                                    <li class="waves-effect"><a href="#!">5</a></li>
                                    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/PAGINATION-->
                    </div>
                </div>
            </div>
        </main>

        <footer class="page-footer blue" data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
        <script src="js/angular-materialize.js"></script>

        <script src='js/flights.js'></script>

    </body>
</html>