<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Vuelos - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="icon" href="img/favicon.png">
    </head>
    <body>
        <header>
            <nav role="navigation" data-ng-include="'includes/nav.html'" style="box-shadow: none; position:fixed; height:65px; z-index: 2;" onload="currenciesSelectInFlightsPage()"></nav>
        </header>

        <main style="margin-top:65px;">
            <div style="min-height: 0px;">
                <div class="row">
                    <div class="col s3" style="position: fixed;">
                        <div class="row">
                            <div class="col s12">
                                <div class="card-panel white black-text" id="searchParams" style="border-radius: 10px;">
                                    <div class="row">
                                        <h5 class="center">Su Búsqueda</h5>
                                    </div>
                                    <div class="row">
                                        <form id="flightSearchForm">
                                            <input type="hidden" id="fromId" value="{{session.search.from.id}}" />
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">flight_takeoff</i>
                                            </div>
                                            <div class="input-field col s11">
                                                <input id="from" type="text" class="typeahead" value="{{session.search.from.name}}" placeholder="Cargando..." disabled>
                                                <label for="from"></label>
                                                <span id="fromError" class='red-text ' style='position: absolute; margin-top: -1.5%; margin-left: 0%;white-space:nowrap;text-align: left; font-size:12px;'></span>
                                            </div>
                                            <input type="hidden" id="toId" value="{{session.search.to.id}}" />
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">flight_land</i>
                                            </div>
                                            <div class="input-field col s11">
                                                <input id="to" type="text" class="typeahead" value="{{session.search.to.name}}" placeholder="Cargando..." disabled>
                                                <label for="to"></label>
                                                <span id="toError" class='red-text ' style='position: absolute; margin-top: -1.5%; margin-left: 0%;white-space:nowrap;text-align: left; font-size:12px;'></span>
                                            </div>
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">today</i>
                                            </div>
                                            <div class="input-field col s11">
                                               
                                                <input id="departDate" type="date" class="datepicker" value="{{session.search.departDate.pretty}}">
                                                <input id="departDateFull" type="hidden" value="{{session.search.departDate.full}}">
                                                <label for="departDate">Ida</label>
                                                <span id="departDateError" class='red-text ' style='position: absolute; margin-top: -4.5%; margin-left: 18%;white-space:nowrap;text-align: left; font-size:12px;'></span>
                                            </div>
                                            <div class="input-field col s1" data-ng-show="!session.search.oneWayTrip">
                                                <i class="material-icons prefix flightSearchIcon">today</i>
                                            </div>
                                            <div class="input-field col s11" data-ng-show="!session.search.oneWayTrip">
                                               
                                                <input id="returnDate" type="date" class="datepicker" value="{{session.search.returnDate.pretty|| ''}}">
                                                <input id="returnDateFull" type="hidden" value="{{session.search.returnDate.full}}">
                                                <label for="returnDate">Vuelta</label>
                                                <span id="returnDateError" class='red-text ' style='position: absolute; margin-top: -4.5%; margin-left: 18%;white-space:nowrap;text-align: left; font-size:12px;'></span>
                                            </div>
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">account_circle</i>
                                            </div>
                                            <div class="input-field col s11">
                                                <input id="numAdults" type="text" pattern="[0-9]{1,}" placeholder=' ' class="" value="{{getGETparam('adults')}}">
                                                <label for="numAdults">Adultos (12 o más años)</label>
                                                
                                                <label id="numAdultsError" class='red-text ' style='margin-top: 60px;white-space:nowrap;text-align: left;'></label>
                                            </div>
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">account_circle</i>
                                            </div>
                                            <div class="input-field col s11">
                                                
                                                <input id="numChildren" type="text" pattern="[0-9]{1,}" placeholder=' ' class="" value="{{getGETparam('children')}}">
                                                <label id="numChildrenError" class='red-text ' style='margin-top: 60px;white-space:nowrap;text-align: left;'></label>
                                                <label for="numChildren">Niños (2-11 años)</label>
                                            </div>
                                            <div class="input-field col s1">
                                                <i class="material-icons prefix flightSearchIcon">account_circle</i>
                                            </div>
                                            <div class="input-field col s11">
                                                
                                                <input id="numInfants" type="text" pattern="[0-9]{1,}" placeholder=' ' class="" value="{{getGETparam('infants')}}">
                                                <label id="numInfantsError" class='red-text ' style='margin-top: 60px;white-space:nowrap;text-align: left;'></label>
                                                <label for="numInfants">Infantes (0-2 años)</label>
                                            </div>
                                            <button id="searchButton" class="input-field col s8 offset-s2 waves-effect waves-light btn-large" type='button'>
                                                Buscar de Nuevo<i class="material-icons right">send</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FIXED TOP SECTION-->
                    <div id="fixedTopSection" class="col s9 offset-s3">
                        <!--SELECTED FLIGHT(S) BOX(ES)-->
                        <div id="selectedOutboundFlight" class="col s9" style="{{session.search.oneWayTrip ? 'margin-top:40px;' : ''}}">
                            <div class="card-panel grey lighten-1 white-text center" style="border-color:grey; border-style: dashed;">
                                Ida
                            </div>
                        </div>
                        <div class="col s3 center">
                            <h5 style="margin-top: 35px;">
                                <b>Total: <span id="total"></span></b>
                            </h5>
                        </div>
                        <div data-ng-show="!session.search.oneWayTrip" id="selectedInboundFlight" class="col s9">
                            <div class="card-panel grey lighten-1 white-text center" style="border-color:grey; border-style: dashed;">
                                Vuelta
                            </div>
                        </div>                        
                        <div class="col s3 center" id="nextStep">
                            <button class="btn waves-effect waves-light disabled" disabled>{{session.search.oneWayTrip|| session.outboundFlight !== null ? 'Siguiente' : 'Elegir Vuelta'}}<i class="material-icons right">send</i></button>
                        </div>
                        <!--END SELECTED FLIGHT(S) BOX(ES)-->
                        <div class="col s12 center" data-ng-show='flights !== null' id="searchResults" style="height: 55px; ">
                            <span class="bigText">{{flights.total}} vuelo{{flights.total === 1 ? '' : 's'}} de <b>{{getGETparam('from')}}</b> a <b>{{getGETparam('to')}}</b> encontrado{{flights.total === 1 ? '' : 's'}} para el {{getGETparam("direction") === 'outbound' ? session.search.departDate.pretty : session.search.returnDate.pretty}}</span>
                            <div data-ng-show="flights.total > 1">
                                <span class="bigText">, ordenados por</span>
                                <div id="criteria" class="input-field">
                                    <select data-ng-model="criteria">
                                        <option selected value="total">Precio</option>
                                        <option value="airline">Aerolínea</option>
                                        <option value="duration">Duración</option>
                                    </select>
                                </div>
                                <div id="order" class="input-field">
                                    <select data-ng-model="order">
                                        <option selected value="asc">Ascendente</option>
                                        <option value="desc">Descendente</option>
                                    </select>
                                </div>
                                <span class="bigText"> en páginas de </span>
                                <div id="resultsPerPage" class="input-field">
                                    <select ng-model="resultsPerPage">
                                        <option selected value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <!--                                <a class='dropdown-button' href='#' data-ng-model="order" data-ng-init="order = 'asc'" data-ng-click="order = (order === 'asc' ? 'desc' : 'asc')" >{{order === 'asc' ? 'ascendente' : 'descendente'}}</a>, <a class='dropdown-button' href='#' data-activates='pagesize'>{{resultsPerPage}}</a> por pagina</span>-->
                            </div>
                        </div>
                        <div class="col s12 divider" style="height:2px"></div>
                    </div>
                    <!--END FIXED TOP SECTION-->
                    <!--SEARCH RESULTS-->
                    <div class="col s9 offset-s3" data-ng-style="session.search.oneWayTrip ? {'margin-top': '215px'} : {'margin-top': '245px'}" style="z-index:1;">
                        <div class="col s12">
                            <!--PRELOADER-->
                            <div class="row" data-ng-show="flights === null">
                                <div class="center">
                                    <h2>Buscando vuelos...</h2>
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-red">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-yellow">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>

                                        <div class="spinner-layer spinner-green">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                                <div class="circle"></div>
                                            </div><div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--END PRELOADER-->
                            <div id="flights" class="row lighten-4" data-ng-show="flights !== null">
                                <!--FLIGHT CARDS-->
                                <div class="card col s12 flightCard black-text" data-ng-show="flights.flights.length > 0" data-ng-repeat="flight in flights.flights">
                                    <div class="card-action green lighten-4" style="padding:5px; border-radius:10px 10px 0 0;">
                                        <p style="margin: 0; height:30px; line-height:30px;" class="card-title">
                                            <span class="col s6" style="padding-left:0;">
                                                <img src="{{getFlightAirlineLogoURL(flight)}}" alt="{{getFlightAirlineName(flight)}}"/>
                                                {{getFlightAirlineName(flight)}} ({{getFlightAirlineID(flight)}}) #{{getFlightNumber(flight)}}
                                            </span>
                                            <span class="col s2">
                                                {{getGETparam('direction') === "outbound" ? "Ida" : "Vuelta"}}
                                            </span>
                                            <span class="col s2 offset-s2" style="text-align:right;">
                                                <b>{{toSelectedCurrency(getFlightTotal(flight))}}</b>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-content">
                                        <div class="col s4">
                                            <div data-ng-show="getGETparam('adults') > 0" class="col s6">Adultos</div>
                                            <div data-ng-show="getGETparam('adults') > 0" class="col s6">{{toSelectedCurrency(flight.price.adults.base_fare)}} x {{flight.price.adults.quantity}}</div>
                                            <div data-ng-show="getGETparam('children') > 0" class="col s6">Niños</div>
                                            <div data-ng-show="getGETparam('children') > 0" class="col s6">{{toSelectedCurrency(flight.price.children.base_fare)}} x {{flight.price.children.quantity}}</div>
                                            <div data-ng-show="getGETparam('infants') > 0" class="col s6">Infantes</div>
                                            <div data-ng-show="getGETparam('infants') > 0" class="col s6">{{toSelectedCurrency(flight.price.infants.base_fare)}} x {{flight.price.infants.quantity}}</div>
                                            <div class="col s6">Cargos</div>
                                            <div class="col s6">{{toSelectedCurrency(flight.price.total.charges)}}</div>
                                            <div class="col s6">Impuestos</div>
                                            <div class="col s6">{{toSelectedCurrency(flight.price.total.taxes)}}</div>
                                            <div class="divider col s12"></div>
                                            <div class="col s6" style="font-size: 1.2rem;"><b>Total</b></div>
                                            <div class="col s6" style="font-size: 1.2rem;"><b>{{toSelectedCurrency(getFlightTotal(flight))}}</b></div>
                                            <div class="col s6 offset-s2" style="margin-top:10px;">
                                                <button class="btn-large waves waves-light selectFlightBtn" data-ng-click="selectFlight(flight)">Seleccionar</button>
                                            </div>
                                        </div>
                                        <div class="col s8 card-title center">
                                            <div class="row">
                                                <div class="col s4">
                                                    <p>{{getDepartureDateObj(flight) | date:'HH:mm'}} - {{getOriginAirport(flight).id}}</p>
                                                    <p style="font-size: 1rem; line-height: initial;">{{getOriginAirport(flight).description}}</p>
                                                </div>
                                                <div class="col s4">
                                                    <i class="material-icons col s1" style="font-size:2.5rem; margin-top:5px; margin-left:42%;">send</i>
                                                </div>
                                                <div class="col s4">
                                                    <p>{{getArrivalDateObj(flight) | date: 'HH:mm'}} - {{getDestinationAirport(flight).id}} <span data-ng-if='(getArrivalDateObj(flight).getDate() !== getDepartureDateObj(flight).getDate())' class='tooltipped' data-position='bottom' data-tooltip='Llega el día siguiente'> (+1)</span></p>
                                                    <p style="font-size: 1rem; line-height: initial;">{{getDestinationAirport(flight).description}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col s4">
                                                    <p><i class="material-icons">timer</i>  {{getFlightDuration(flight)}}</p>
                                                </div>
                                                <div class="col s4">
                                                    <p><i class="material-icons">flight</i>  {{getStopoversCount(flight) === 0 ? 'Directo' : getStopoversCount(flight) + ' Escalas'}}</p>
                                                </div>
                                                <div class="col s4">
                                                    <p><a href="reviews.html?airlineId={{getFlightAirlineID(flight)}}&flightNum={{getFlightNumber(flight)}}" target="_blank" class='tooltipped' data-position='bottom' data-tooltip="Click para ver comentarios de {{getFlightAirlineID(flight)}} #{{getFlightNumber(flight)}}"><i class="material-icons">star</i>  {{session.airlines[getFlightAirlineID(flight)].rating || 'N/D'}}</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--END FLIGHT CARDS-->
                            </div>
                            <!--PAGINATION-->
                            <div data-ng-if="flightPages.length > 1" style="margin-top:15px;"> <!-- Only show pagination if there's more than 1 page -->
                                <ul class="pagination center-align">
                                    <li data-ng-class="{disabled: currentFlightsPage === 1, 'waves-effect': currentFlightsPage !== 1}" data-ng-click="decrementPage('currentFlightsPage')"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li data-ng-repeat="page in flightPages track by $index" data-ng-class="{active: currentFlightsPage === $index + 1, 'waves-effect': currentFlightsPage !== $index + 1}" data-ng-click="goToPage('currentFlightsPage', $index + 1)" ><a href="#!">{{$index + 1}}</a></li>
                                    <li data-ng-class="{disabled: currentFlightsPage === flightPages.length, 'waves-effect': currentFlightsPage !== flightPages.length}" data-ng-click="incrementPage('currentFlightsPage', flightPages.length)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                            <!--END PAGINATION-->
                        </div>
                    </div>
                    <!--END SEARCH RESULTS-->
                </div>
            </div>
        </main>

        <footer class="page-footer"  data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src='js/commonFunctions.js'></script>
        <script src="js/init.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
        <script src="js/angular-materialize.js"></script>
        <script src='js/currencies.js'></script>

        <script src='js/flights.js'></script>
        <script src="js/typeahead.bundle.js"></script>
    </body>
</html>