<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Home - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo left">Logo</a>
                <span style="position:absolute; margin-left:45%;">Pesos Argentinos $<span class="material-icons">arrow_drop_down_circle</span></span>

                <!--                <ul id="nav-mobile" class="side-nav">
                                    <li><a href="#">Navbar Link</a></li>
                                </ul>
                                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
            </div>
        </nav>
        <!-- Flight Search -->
        <div id="homeSlider" class="section">
            <div id="flightSearch">
                <h5 class="center">Búsqueda de Vuelos</h5>
                <form id="flightSearchForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="from" name="from" type="text" class="validate" autocomplete="off" required data-ng-model="from" data-ng-change="findSuggestions(from, 'fromSuggestions', 'fromStatus')">
                            <label for="from">Origen</label>
                            <!--Show only if there's at least 2 characters on the input field-->
                            <div id="fromSuggestions" class="suggestions" data-ng-hide="from.length <= 2">
                                <!--Show if there are matches-->
                                <ul data-ng-show="fromSuggestions.airports.length > 0 || fromSuggestions.cities.length > 0">
                                    <!--Show airports, then cities-->
                                    <li data-value="{{s.id}}" data-ng-repeat="s in fromSuggestions.airports">(A) {{s.id}} - {{s.description}}</li>
                                    <li data-value="{{s.id}}" data-ng-repeat="s in fromSuggestions.cities">(C) {{s.id}} - {{s.name}}</li>
                                </ul>
                                <!--Show if there are no matches and a search has been peformed-->
                                <ul data-ng-show="from.length > 2 && fromStatus === false && fromSuggestions.airports.length === 0 && fromSuggestions.cities.length === 0">
                                    <li>Sin Resultados</li>
                                </ul>
                            </div>
                        </div>
                        <div class="input-field col s6">
                            <input id="to" name="to" type="text" class="validate" autocomplete="off" required data-ng-model="to" data-ng-change="findSuggestions(to, 'toSuggestions', 'toStatus')">
                            <label for="to">Destino</label>
                            <!--Show only if there's at least 2 characters on the input field-->
                            <div id="toSuggestions" class="suggestions" data-ng-hide="to.length <= 2">
                                <!--Show if there are matches-->
                                <ul data-ng-show="toSuggestions.airports.length > 0 || toSuggestions.cities.length > 0">
                                    <!--Show airports, then cities-->
                                    <li data-value="{{s.id}}" data-ng-repeat="s in toSuggestions.airports">(A) {{s.id}} - {{s.description}}</li>
                                    <li data-value="{{s.id}}" data-ng-repeat="s in toSuggestions.cities">(C) {{s.id}} - {{s.name}}</li>
                                </ul>
                                <!--Show if there are no matches and a search has been peformed-->
                                <ul data-ng-show="to.length > 2 && toStatus === false && toSuggestions.airports.length === 0 && toSuggestions.cities.length === 0">
                                    <li>Sin Resultados</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s2">
                            <input id="isOneWayTrip" name="isOneWayTrip" type="checkbox">
                            <label for="isOneWayTrip">Sólo Ida</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="departDate" name="departDate" type="date" class="datepicker" required>
                            <label for="departDate">Ida</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="returnDate" name="returnDate" type="date" class="datepicker" required>
                            <label for="returnDate">Vuelta</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="numAdults" name="numAdults" type="number" class="validate" value="1" min="0">
                            <label for="numAdults">Adultos (12 o más años)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="numChildren" name="numChildren" type="number" class="validate" value="0" min="0">
                            <label for="numChildren">Niños (2-11 años)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="numInfants" name="numInfants" type="number" class="validate" value="0" min="0">
                            <label for="numInfants">Infantes (0-2 años)</label>
                        </div>
                        <button type="submit" class="input-field col s4 offset-s4 waves-effect waves-light btn-large">
                            Buscar<i class="material-icons right">arrow_right</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!--/Flight Search-->

        <!-- http://stackoverflow.com/a/30128450 -->
        <div class="container section no-pad-bot" data-ng-init="getDeals('BUE')">   <!-- TODO usar ciudad actual -->
            <div class="col s4" data-ng-repeat="deal in deals">
                <div class="card-panel white-text blue">
                    Viajes a {{deal.city.name}} desde ${{deal.price}}
                </div>
            </div>
<!--            <div class="row center" data-ng-repeat="dealGroup in deals">  separateIntoGroupsOf(3, deals) 
            </div>-->
        </div>

        <footer class="page-footer blue">
            <!--            <div class="container">
                            <div class="row">
                                <div class="col l6 s12">
                                    <h5 class="white-text">Company Bio</h5>
                                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                                    
                                    
                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Settings</h5>
                                    <ul>
                                        <li><a class="white-text" href="#!">Link 1</a></li>
                                        <li><a class="white-text" href="#!">Link 2</a></li>
                                        <li><a class="white-text" href="#!">Link 3</a></li>
                                        <li><a class="white-text" href="#!">Link 4</a></li>
                                    </ul>
                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Connect</h5>
                                    <ul>
                                        <li><a class="white-text" href="#!">Link 1</a></li>
                                        <li><a class="white-text" href="#!">Link 2</a></li>
                                        <li><a class="white-text" href="#!">Link 3</a></li>
                                        <li><a class="white-text" href="#!">Link 4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
            <div class="footer-copyright">
                <div class="container">
                    &COPY; 2016, ITBA. Hecho con <a class="orange-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>.
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src="js/home.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
    </body>
</html>
