<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Home - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo left">Logo</a>
                <span style="position:absolute; margin-left:45%;">Pesos Argentinos $<span class="material-icons">arrow_drop_down_circle</span></span>

                <!--                <ul id="nav-mobile" class="side-nav">
                                    <li><a href="#">Navbar Link</a></li>
                                </ul>
                                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
            </div>
        </nav>
        <!-- Flight Search -->
        <div id="homeSlider" class="section">
            <div id="flightSearch">
                <h5 class="center">Búsqueda de Vuelos</h5>
                <form id="flightSearchForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="from" name="from" type="text" class="validate" required>
                            <label for="from">Origen</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="to" name="to" type="text" class="validate" required>
                            <label for="to">Destino</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s5">
                            <input id="departDate" name="departDate" type="date" class="datepicker" required>
                            <label for="departDate">Ida</label>
                        </div>
                        <div class="input-field col s2">
                            <input id="isOneWayTrip" name="isOneWayTrip" type="checkbox">
                            <label for="isOneWayTrip">Sólo Ida</label>
                        </div>
                        <div class="input-field col s5">
                            <input id="returnDate" name="returnDate" type="date" class="datepicker" required>
                            <label for="returnDate">Vuelta</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="numAdults" name="numAdults" type="number" class="validate" value="1" min="0">
                            <label for="numAdults">Adultos (12 o más años)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="numChildren" name="numChildren" type="number" class="validate" value="0" min="0">
                            <label for="numChildren">Niños (2-11 años)</label>
                        </div>
                        <div class="input-field col s4">
                            <input id="numInfants" name="numInfants" type="number" class="validate" value="0" min="0">
                            <label for="numInfants">Infantes (0-2 años)</label>
                        </div>
                        <button type="submit" class="input-field col s4 offset-s4 waves-effect waves-light btn-large">
                            Buscar<i class="material-icons right">arrow_right</i>
                        </button>
                    </div>
                    <!--                    <div class="row">
                                            <div class="input-field col s12">
                                                <input id="email" type="email" class="validate">
                                                <label for="email">Email</label>
                                            </div>
                                        </div>-->
                </form>
            </div>
        </div>
        <!--/Flight Search-->

        <!-- http://stackoverflow.com/a/30128450 -->
        <div class="container section no-pad-bot" data-ng-app="app" data-ng-controller="controller" data-ng-init="getDeals('BUE')">   <!-- TODO usar ciudad actual -->
            <div class="row center" data-ng-repeat="dealGroup in deals"> <!-- separateIntoGroupsOf(3, deals) -->
                <div class="col s4" data-ng-repeat="deal in dealGroup">
                    <div class="card-panel white-text {{randomElement(['blue', 'green', 'purple', 'red', 'orange', 'pink'])}}">
                        Viajes a {{deal.city.name}} desde ${{deal.price}}
                    </div>
                </div>
            </div>
<!--                <div class="col s4">
                    <div class="card-panel green white-text">
                        Viajes a Madrid desde $100
                    </div>
                </div>
                <div class="col s4">
                    <div class="card-panel purple white-text">
                        Viajes a Rusia desde $180
                    </div>
                </div>-->
<!--            <div class="row center">
                <div class="col s4">
                    <div class="card-panel red white-text">
                        Viajes a Belarús desde $50
                    </div>
                </div>
                <div class="col s4">
                    <div class="card-panel orange white-text">
                        Viajes a Roma desde $1000
                    </div>
                </div>
                <div class="col s4">
                    <div class="card-panel pink white-text">
                        Viajes a Lituania desde $250
                    </div>
                </div>
            </div>-->
        </div>

        <footer class="page-footer blue">
            <!--            <div class="container">
                            <div class="row">
                                <div class="col l6 s12">
                                    <h5 class="white-text">Company Bio</h5>
                                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                                    
                                    
                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Settings</h5>
                                    <ul>
                                        <li><a class="white-text" href="#!">Link 1</a></li>
                                        <li><a class="white-text" href="#!">Link 2</a></li>
                                        <li><a class="white-text" href="#!">Link 3</a></li>
                                        <li><a class="white-text" href="#!">Link 4</a></li>
                                    </ul>
                                </div>
                                <div class="col l3 s12">
                                    <h5 class="white-text">Connect</h5>
                                    <ul>
                                        <li><a class="white-text" href="#!">Link 1</a></li>
                                        <li><a class="white-text" href="#!">Link 2</a></li>
                                        <li><a class="white-text" href="#!">Link 3</a></li>
                                        <li><a class="white-text" href="#!">Link 4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>-->
            <div class="footer-copyright">
                <div class="container">
                    &COPY; 2016, ITBA. Hecho con <a class="orange-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>.
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src="js/home.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
    </body>
</html>
