<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller" data-ng-init="getFlickBannerImg('flight', '#homeBanner')">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Home - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav role="navigation" data-ng-include="'includes/nav.html'"></nav>
        </header>

        <main>
            <!-- Flight Search -->
            <div id="homeBanner" class="section">
                <div id="flightSearch">
                    <h5 class="center">Búsqueda de Vuelos</h5>
                    <form id="flightSearchForm">
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="hidden" id="fromId" value="" />
                                <input id="from" name="from" type="text" class="validate typeahead" autocomplete="off" placeholder="Origen" required>
                                <label for="from"></label>
                            </div>
                            <div class="input-field col s6">
                                <input type="hidden" id="toId" value="" />
                                <input id="to" name="to" type="text" class="validate typeahead" autocomplete="off" placeholder="Destino" required>
                                <label for="to"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s2">
                                <input id="oneWayTrip" name="oneWayTrip" type="checkbox">
                                <label for="oneWayTrip">Sólo Ida</label>
                            </div>
                            <div class="input-field col s5">
                                <input id="departDate" name="departDate" type="date" class="datepicker" required>
                                <input id="departDateFull" type="hidden" value="">
                                <label for="departDate">Ida</label>
                            </div>
                            <div class="input-field col s5">
                                <input id="returnDate" name="returnDate" type="date" class="datepicker" required>
                                <input id="returnDateFull" type="hidden" value="">
                                <label for="returnDate">Vuelta</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="numAdults" name="numAdults" type="text" pattern="[0-9]{1,}" class="validate" value="1">
                                <label for="numAdults">Adultos (12 o más años)</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="numChildren" name="numChildren" type="text" pattern="[0-9]{1,}" class="validate" value="0">
                                <label for="numChildren">Niños (2-11 años)</label>
                            </div>
                            <div class="input-field col s4">
                                <input id="numInfants" name="numInfants" type="text" pattern="[0-9]{1,}" class="validate" value="0">
                                <label for="numInfants">Infantes (0-2 años)</label>
                            </div>
                            <button id="searchButton" type="button" class="input-field col s4 offset-s4 waves-effect waves-light btn-large">
                                Buscar<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
           
            <!--/Flight Search-->

<!--            <img class="" src=${{getPicture(2)}}>-->
            <!-- http://stackoverflow.com/a/30128450 -->
            <div class="container section no-pad-bot" data-ng-init="getDeals('BUE');">   <!-- TODO usar ciudad actual -->
                <div class="row text-center" >
                     <div class="col s4 dealCard" data-ng-repeat="deal in deals | limitTo: 9">
                        <div class="clearfix" ng-if="$index % 3 === 0"></div>
                        <div class="card card-small white-text green" ng-click="goToDeal(deal)">
<!--                            <div style="height: 15%;">
                                Viajes a {{deal.city.name}} desde ${{deal.price}}
                            </div>
                            <div id="dealImg-{{$index}}" class="center-cropped" style="">
                           </div>-->
<!--                            <div class="card-image card-image-deals">-->
                            <div class="card-header card-image">
                                <img id="dealImg-{{$index}}" src="#" alt="{{deal.city.name}}">
                            </div>
                            <div class="card-content">
                              <p class='text-center' style="font-size: 20px">Viajes a {{deal.city.name}} desde ${{deal.price}}<p>
                            </div>
                                                        
                            {{getFlickrImg(deal.city.name, "dealImg-"+$index)}}
                        </div>
                    </div>
                </div>
                <!--            <div class="row center" data-ng-repeat="dealGroup in deals">  separateIntoGroupsOf(3, deals) 
                            </div>-->
            </div>
        </main>
        <footer class="page-footer" data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
        <script src="js/angular-materialize.js"></script>
        <!--Site-specific scripts-->
        <script src="js/typeahead.bundle.js"></script>
        <script src="js/home.js"></script>

    </body>
</html>
