<div class="col s12" data-ng-show="flights.flights.length > 0">
    <ul class="collapsible" data-collapsible="accordion">
        <li class="grey" data-ng-repeat="flight in flights.flights">
            <div class="collapsible-header">
                <div class="col s4">
                    <!--<i class="material-icons">airplanemode_active</i>-->
                    <img src="{{getFlightAirlineLogoURL(flight)}}" alt="{{getFlightAirlineName(flight)}}"/>
                    {{getFlightAirlineName(flight)}} #{{getFlightNumber(flight)}}
                </div>
                <div class="col s3">
                    {{getOriginAirport(flight).id}} ({{getDepartureDateObj(flight) | date:'HH:mm'}})<span class="material-icons">forward</span>{{getDestinationAirport(flight).id}} ({{getArrivalDateObj(flight) | date: 'HH:mm'}})
                </div>
                <div data-ng-if="isDirectFlight(flight)" class="col s2">
                    Directo
                </div>
                <div data-ng-if="getStopoversCount(flight) === 1" class="col s2">
                    1 Escala
                </div>
                <div data-ng-if="getStopoversCount(flight) > 1" class="col s2">
                    {{getStopoversCount(flight)}} Escalas
                </div>
                <div class="col s1">
                    ${{getFlightTotal(flight) | number:0}}
                </div>
                <div class="col s2 right-align">
                    <button class='btn' data-ng-click="selectFlight(flight)">Seleccionar</button>
                </div>
            </div>
            <div class="collapsible-body">
                <p style="height:100px; padding: 5px; padding-left: 10px;">
                    <span class="col s4 center">
                        Calificación: gr8 8/8 m8 <!-- 7.3/10 -->
                        <br />
                        (promedio tramos)
                        <br />
                        <a class="btn" href="reviews.html?airlineId={{getFlightAirlineID(flight)}}&flightNum={{getFlightNumber(flight)}}">Ver Comentarios</a>
                    </span>
                    <span class="col s3">
                        <span data-ng-show="!isDirectFlight(flight)" data-ng-repeat="segment in getStopovers(flight)">
                            {{getOriginAirport(segment).id}} ({{getDepartureDateObj(segment) | date:'HH:mm'}})
                            <span class="material-icons">forward</span>
                            {{getDestinationAirport(segment).id}} ({{getArrivalDateObj(segment) | date: 'HH:mm'}})
                        </span>
                        <span data-ng-if="isDirectFlight(flight)">
                            {{getOriginAirport(flight).id}} ({{getDepartureDateObj(flight) | date: 'HH:mm'}})
                            <span class="material-icons">forward</span>
                            {{getDestinationAirport(flight).id}} ({{getArrivalDateObj(flight) | date: 'HH:mm'}})
                        </span>
                    </span>
                    <span class="col s1 center">
                        Duración: {{getFlightDuration(flight)}}
                    </span>
                    <span class="col s4 center">
                        <span data-ng-show="flight.price.adults !== null">
                            Adultos: ${{flight.price.adults.base_fare| number:2}} x {{flight.price.adults.quantity}}
                            <br />
                        </span>
                        <span data-ng-show="flight.price.children !== null">
                            Niños: ${{flight.price.children.base_fare| number:2}} x {{flight.price.children.quantity}}
                            <br />
                        </span>
                        <span data-ng-show="flight.price.infants !== null">
                            Infantes: ${{flight.price.infants.base_fare| number:2}} x {{flight.price.infants.quantity}}
                            <br />
                        </span>
                        Cargos e Impuestos: ${{(flight.price.total.charges + flight.price.total.taxes)  | number:2}}
                        <br />
                        <b>Total Pasajeros: ${{getFlightTotal(flight) | number:2}}</b>
                    </span>
                </p>
            </div>
        </li>
    </ul>
</div>