<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Resumen de Compra</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav role="navigation" data-ng-include="'includes/nav.html'"></nav>
        </header>

        <main>       
            <div class="row"> 
                <div data-ng-class="['col', (session.search.oneWayTrip ? 's2' : 's3'), (session.search.oneWayTrip ? 'offset-s2' : 'offset-s2')]" style="text-align: center;">
                    <div class="card-panel green lighten-3 " id="outbound">
                        <h3>IDA</h3>
                        <p>Numero de vuelo: {{getFlightNumber(session.outboundFlight)}}</p>
                        <p>Fecha: {{(getDepartureDateObj(session.outboundFlight)).getDate()}}/{{getDepartureDateObj(session.outboundFlight).getMonth()}}</p>
                        <p>Horario de salida: {{(getDepartureDateObj(session.outboundFlight)).getHours()}}:{{getDepartureDateObj(session.outboundFlight).getMinutes()}}</p>
                        <P>Horario de llegada: {{(getArrivalDateObj(session.outboundFlight)).getHours()}}:{{getArrivalDateObj(session.outboundFlight).getMinutes()}}</p>
                        <p>Duracion: {{getFlightDuration(session.outboundFlight)}}</p>
                        <p data-ng-if="session.search.numAdults > 0"> Precio por adultos: ${{getFlightPriceBreakdown(session.outboundFlight).adults.base_fare}}x{{session.search.numAdults}}</p>
                        <p data-ng-if="session.search.numChildren > 0"> Precio por ninios ${{getFlightPriceBreakdown(session.outboundFlight).children.base_fare}}x{{session.search.numChildren}}</p>
                        <p data-ng-if="session.search.numInfants > 0"> Precio por infantes: ${{getFlightPriceBreakdown(session.outboundFlight).infants.base_fare}}x{{session.search.numInfants}}</p>
                        <h5><b>Total:</b></h5>
                    </div>
                </div>
                <div data-ng-if="!session.search.oneWayTrip"class="col s3 offset-s1" style="text-align: center;">
                    <div class="card-panel green lighten-3" id="inbound">
                        <h3>Vuelta</h3>
                        <p>Numero de vuelo: {{getFlightNumber(session.inboundFlight)}}</p>
                        <p>Fecha: {{(getDepartureDateObj(session.inboundFlight)).getDate()}}/{{getDepartureDateObj(session.inboundFlight).getMonth()}}</p>
                        <p>Horario de salida: {{(getDepartureDateObj(session.inboundFlight)).getHours()}}:{{getDepartureDateObj(session.inboundFlight).getMinutes()}}</p>
                        <P>Horario de llegada: {{(getArrivalDateObj(session.inboundFlight)).getHours()}}:{{getArrivalDateObj(session.inboundFlight).getMinutes()}}</p>
                        <p>Duracion: {{getFlightDuration(session.inboundFlight)}}</p>
                        <p data-ng-if="session.search.numAdults > 0"> Precio por adultos: ${{getFlightPriceBreakdown(session.inboundFlight).adults.base_fare}}x{{session.search.numAdults}}</p>
                        <p data-ng-if="session.search.numChildren > 0"> Precio por ninios ${{getFlightPriceBreakdown(session.inboundFlight).children.base_fare}}x{{session.search.numChildren}}</p>
                        <p data-ng-if="session.search.numInfants > 0"> Precio por infantes: ${{getFlightPriceBreakdown(session.inboundFlight).infants.base_fare}}x{{session.search.numInfants}}</p>
                        <h5><b>Total:</b></h5>
                    </div>
                </div>
                <div class="col s3">
                    <div data-ng-if="session.search.oneWayTrip" class="col s12">
                        <div class="card-panel green lighten-3" id="payment" style="text-align: center;">
                            <h4>Pago</h4> 
                            <p>Número de tarjeta: {{session.payment.cardNumber}}</p> 
                            <p>Nombre de titular: {{session.payment.cardholderName}}</p> 
                            <br> 
                            <h5><b>Gran total: $27.998</b></h5> 
                        </div>
                    </div>
                    <div data-ng-if="session.search.oneWayTrip"class="col s12"> 
                        <div class="card-panel green lighten-3" id="contact" style="text-align: center;"> 
                            <h4>Contacto</h4>
                            <p>Email: {{session.payment.email}}</p>
                        </div> 
                    </div>
                </div>
            </div>


            <div data-ng-if="!session.search.oneWayTrip" class="row">
                <div class="col s3 offset-s2">
                    <div class="card-panel green lighten-3" id="payment" style="text-align: center;">
                        <h4>Pago</h4> 
                        <p>Número de tarjeta: {{session.payment.cardNumber}}</p> 
                        <p>Nombre de titular: {{session.payment.cardholderName}}</p> 
                        <br> 
                        <h5><b>Gran total: $27.998</b></h5> 
                    </div>
                </div>
                <div data-ng-if="!session.search.oneWayTrip" class="col s3 offset-s1"> 
                    <div class="card-panel green lighten-3" id="contact" style="text-align: center;"> 
                        <h4>Contacto</h4>
                        <p>Email: {{session.payment.email}}</p>
                    </div> 
                </div> 
            </div>
            <div class="row" id="summaryActionButtons">
                <div class="col s10 offset-s1 center">
                    <button id="changeOutboundFlightBtn" class="waves-effect waves-light btn">Modificar Ida</button>
                    <button id="changeInboundFlightBtn" class="waves-effect waves-light btn">Modificar Vuelta</button>
                    <button id="changePassengersBtn" class="waves-effect waves-light btn">Modificar Pasajeros</button>
                    <button id="changePaymentBtn" class="waves-effect waves-light btn">Modificar Pago</button>
                    <button id="changeContactBtn" class="waves-effect waves-light btn">Modificar Contacto</button>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 center">
                    <a class="btn-large waves-effect waves cyan darken-1" href="order-confirmation.html">
                        Confirmar
                        <i class="material-icons right">send</i>
                    </a>
                </div>
            </div>
        </main>

        <footer class="page-footer" data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
        <script src="js/angular-materialize.js"></script>
        <script src="js/order-summary.js"></script>
    </body>
</html>
