<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Datos de pasajeros</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav class="light-blue lighten-1" role="navigation" data-ng-include="'includes/nav.html'"></nav>
        </header>
        
        <main>
            <h1 class="center">Datos de pasajeros</h1>
            <h2 class="center">Adultos</h2>
            <div class="row center">
                <div class="col s4 offset-s4">
                    <div class="row">
                        <p> Pasajero 1 de x </p>
                        <p> Adultos </p>
                        
                        <ul> 
                            <li ng-repeat="i in getNumber(getAdults()) track by $index">
                                <p> Adulto {{$index + 1}} </p>
                                
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <label for='nombre' class="black-text">Nombre</label>
                                        <input id="nombre" type="text" class="validate">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 input-field">
                                        <label for='apellido' class="black-text">Apellido</label>
                                        <input id="apellido" type="text" class="validate">
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col s12 input-field">
                                        
                                     

<!--                                        <select ng-model="myColor" ng-options="color.name for color in colors"></select>-->
                                        <select class="" ng-model="mySexo" material-select watch>
                                            <option ng-repeat="sexo in sexos">{{sexo}}</option>
                                        </select>
                                       <!--
<!--                                    <select>
                                            <option value='' disabled selected>Elegir sexo</option>
                                            <option value='1'>Masculino</option>
                                            <option value='2'>Femenino</option>
                                        </select>-->
                                    </div>
                                </div>    
                                <div class="row">
                                    <div class="input-field col s4"> 
                                            <label for='dia' class="black-text">Dia</label> <!-- No deberia poder ser negativo -->
                                            <input id="dia" type="number" class="validate"> 
                                        </div>
                                        <div class="input-field col s4">
                                            <select>
                                                <option value='' disabled selected>Mes</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                                <option value='3'>3</option>
                                                <option value='4'>4</option>
                                                <option value='5'>5</option>
                                                <option value='6'>6</option>
                                                <option value='7'>7</option>
                                                <option value='8'>8</option>
                                                <option value='9'>9</option>
                                                <option value='10'>10</option>
                                                <option value='11'>11</option>
                                                <option value='12'>12</option>
                                            </select>
                                            <label class="black-text">Mes</label>
                                        </div>
                                        <div class="input-field col s4">
                                            <label for='anio' class="black-text">Año</label>
                                            <input id="anio" type="text" class="validate">
                                        </div>
                                </div>  
<!--                                
                                <ul>
                                    <li class="input-field">
                                        <label for='nombre' class="black-text">Nombre</label>
                                        <input id="nombre" type="text" class="validate">
                                    </li> 
                                    <li class="input-field">
                                        <label for='apellido' class="black-text">Apellido</label>
                                        <input id="apellido" type="text" class="validate">
                                    </li>
                                    <li class="input-field">
                                        <select>
                                            <option value='' disabled selected>Elegir sexo</option>
                                            <option value='1'>Masculino</option>
                                            <option value='2'>Femenino</option>
                                        </select>
                                    </li>
                                    <li class="row">
                                        <div class="input-field col s4"> 
                                            <label for='dia' class="black-text">Dia</label> <!-- No deberia poder ser negativo 
                                            <input id="dia" type="number" class="validate"> 
                                        </div>
                                        <div class="input-field col s4">
                                            <select>
                                                <option value='' disabled selected>Mes</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                                <option value='3'>3</option>
                                                <option value='4'>4</option>
                                                <option value='5'>5</option>
                                                <option value='6'>6</option>
                                                <option value='7'>7</option>
                                                <option value='8'>8</option>
                                                <option value='9'>9</option>
                                                <option value='10'>10</option>
                                                <option value='11'>11</option>
                                                <option value='12'>12</option>
                                            </select>
                                            <label class="black-text">Mes</label>
                                        </div>
                                        <div class="input-field col s4">
                                            <label for='anio' class="black-text">Año</label>
                                            <input id="anio" type="text" class="validate">
                                        </div>
                                    </li>
                                    <li class="input-field">
                                        <label for='documento' class="black-text">Documento</label>
                                        <input id="documento" type="text" class="validate">
                                    </li>
                                </ul>
                                -->
                                <br />
                            </li>
                        </ul>
                        
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col s10 offset-s1">
                        <a class="waves-effect waves-light btn-large ">Volver</a>
                        <a class="waves-effect waves-light btn-large ">Confirmar</a>
                    </div>
                </div>
            </div>        
        </main>

        <footer class="page-footer blue" data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>
        <script src="js/angular-materialize.js"></script>
        
        <script src="js/passengers.js"></script>
        <script src='js/angular.min.js'></script>
        <script src='js/controllers.js'></script>  
        <script type="text/javascript" src="js/angular-materialize.js"></script>
    </body>
</html>
