<!DOCTYPE html>
<html lang="en" data-ng-app="app" data-ng-controller="controller" data-ng-init="getFlightReviews(getGETParam('airlineId'), getGETParam('flightNum'))"> <!-- TODO remove when adding form -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Template - Página de Vuelos</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <header>
            <nav role="navigation" data-ng-include="'includes/nav.html'"></nav>
            <h1 class="center">Pagina de comentarios</h1>
        </header>


        <main>
            <h2 class="center">Comentarios sobre vuelo: {{reviewCount}}</h2>
            <div class="row"> <!-- esto cambia todas la tarjetas -->
                <div class="col s2 offset-l5">
                    <label>Comentarios por pagina</label>
                    <select ng-model="resultsPerPage" value=30 data-ng-change="getFlightReviews(getGETparam('airlineId'), getGETparam('flightNum'), resultsPerPage, 1)">
                        <option selected value=10>10</option>
                        <option value=20>20</option>
                        <option value=30>30</option>
                    </select>
                </div>
                <!--TODO change elements (e.g. review.aerolinea) to whatever the API returns-->
                <div id="reviewCard" class="col offset-s3 s6 center softlyPadded" ng-repeat="review in reviews">    
                    <div class="softlyPadded"><strong>{{getGETparam('airlineId')}} #{{getGETparam('flightNum')}}</strong></div>
                    <div class="col s6"> <!--Columna Izq-->
                        <div class="row">
                            General: {{review.rating.overall}}<div class="progress"><div class="determinate bar-{{review.rating.overall}}"></div></div>                                
                        </div>
                        <div class="row">
                            Amabilidad: {{review.rating.friendliness}}<div class="progress"><div class="determinate bar-{{review.rating.friendliness}}" ></div></div>                                
                        </div>
                        <div class="row">
                            Puntualidad: {{review.rating.punctuality}}<div class="progress"><div class="determinate bar-{{review.rating.punctuality}}" ></div></div>                                
                        </div>
                        <div class="row">
                            Comfort: {{review.rating.comfort}}<div class="progress"><div class="determinate bar-{{review.rating.comfort}}"></div></div>                                
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="row">
                            Recomendación: {{review.yes_recommend ? "Sí" : "No"}}<div class="progress"><div class="determinate bar-{{review.yes_recommend*10}}"></div></div>                                
                        </div>
                        <div class="row">
                            Comida: {{review.rating.food}}<div class="progress"><div class="determinate bar-{{review.rating.food}}"></div></div>                                
                        </div>
                        <div class="row">
                            Programa de viajero frequente: {{review.rating.mileage_program}}<div class="progress"><div class="determinate bar-{{review.rating.mileage_program}}" ></div></div>                                
                        </div>
                        <div class="row">
                            Relación precio a calidad: {{review.rating.quality_price}}<div class="progress"><div class="determinate bar-{{review.rating.quality_price}}"></div></div>                                
                        </div>
                    </div>
                    <div class="softlyPadded">Comentario: <strong>{{review.comments}}</strong></div>
                </div>
                <div class="col s12">
                    <ul class="pagination center-align">
                        <li ng-repeat="i in getFilledArray(getNumberOfPages(reviewCount, resultsPerPage))"><button class="waves-button-input" data-ng-click="getFlightReviews(getGETparam('airlineId'), getGETparam('flightNum'), resultsPerPage, i)">{{i}}</button></li>
                    </ul></div>
                <div class="col s12">
                    <div class="center"> <a class="center-align btn waves-effect waves-light offset-l5 s6" href="fillReview.html?airlineId={{getGETparam('airlineId')}}&flightNum={{getGETparam('flightNum')}}">Dejar un comentario</a></div>
                </div>
        </main>

        <footer class="page-footer" data-ng-include="'includes/footer.html'"></footer>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/commonFunctions.js"></script>
        <script src="js/init.js"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/angular-materialize.js"></script>
        <script src="js/commonFunctions.js"></script>
    </body>
</html>